.products
  
  .section
    h2 Proizvodi
    
    .span3
      figure.effect-zoe
        img(src="/assets/img/proizvodi/didajozinkulin.jpg")
        figcaption
          h4 Dida Jozin Kulin
          h5  
            a(href="/proizvodi/dida-jozin-kulin") Naručite
    
    .span3
      figure
        img(src="/assets/img/proizvodi/kulenovasnasa.jpg")
        figcaption
          h4 Kulinova Snaša
          h5
            a(href="/proizvodi/kulinova-snasa") Naručite
          
    .span3
      figure
        img(src="/assets/img/proizvodi/kulinovaseka.jpg")
        figcaption
          h4 Slavonska Kulenova Seka
          h5 
            a(href="/proizvodi/slavonska-kulenova-seka") Naručite

    .span3
      figure
        img(src="/assets/img/proizvodi/bacinslanac.jpg")
        figcaption
          h4 Bačin Slanac
          h5 
            a(href="/proizvodi/bacin-slanac") Naručite
    
  .section
    
    .span3
      figure
        img(src="/assets/img/proizvodi/slavonskakobasica.jpg")
        figcaption
          h4 Slavonska kobasica
          h5 
            a(href="/proizvodi/slavonska-kobasica") Naručite
      
    .span3
      figure
        img(src="/assets/img/proizvodi/slavonskaslanina.jpg")
        figcaption
          h4 Slavonska slanina
          h5 
            a(href="/proizvodi/slavonska-slanina") Naručite
            
    .span3
      figure
        img(src="/assets/img/proizvodi/slavonskicvarci.jpg")
        figcaption
          h4 Slavonski Čvarci Dukati
          h5 
            a(href="/proizvodi/slavonski-cvarci-dukati") Naručite
            
    .span3
      figure
        img(src="/assets/img/proizvodi/svinjskamast.jpg")
        figcaption
          h4 Svinjska mast
          h5 
            a(href="/proizvodi/svinjska-mast") Naručite
    
